body {
  background-color: #f8f9fa;
}

header {
  color: #fff;
}

footer {
  background-color: #0056DF;
  color: #fff;
}

textarea {
  resize: none;
}

.logo {
  max-width: 300px; /* Ajustez la taille maximale selon vos besoins */
  height: auto;
}
